
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
udagram-frontend/.vscode/
udagram-frontend/npm-debug.log*

udagram-api-feed/node_modules
udagram-api-user/node_modules
udagram-api-user/www
udagram-api-feed/www

udagram-frontend/.idea/
udagram-frontend/.ionic/
udagram-frontend/.sourcemaps/
udagram-frontend/.sass-cache/
udagram-frontend/.tmp/
udagram-frontend/.versions/
udagram-frontend/coverage/
udagram-frontend/www/
udagram-frontend/node_modules/
udagram-frontend/tmp/
udagram-frontend/temp/
udagram-frontend/platforms/
udagram-frontend/plugins/
udagram-frontend/plugins/android.json
udagram-frontend/plugins/ios.json
udagram-frontend/$RECYCLE.BIN/

udagram-frontend/.DS_Store
udagram-frontend/Thumbs.db
udagram-frontend/UserInterfaceState.xcuserstate
node_modules
set_env.sh
